
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>网站信息</title>
    <link href="~/Areas/Manage/Content/css/pintuer.css" rel="stylesheet" />
    <link href="~/Areas/Manage/Content/css/admin.css" rel="stylesheet" />
    <script src="~/Areas/Manage/Content/js/jquery.js"></script>
    <script src="~/Areas/Manage/Content/js/pintuer.js"></script>
    <script src="~/Content/JS/jquery.validate.min.js"></script>
</head>
<body>
    <div class="panel admin-panel">
        <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 网站信息</strong></div>
        <div class="body-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>