<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <stitle>葛氏集团</stitle>
  <name>葛葛</name>
  <surl>link1983.com</surl>
  <skeywords>葛氏集团</skeywords>
  <sdescription>经营各种人工智能产品</sdescription>
  <s_qq>12133</s_qq>
  <s_email>link@123</s_email>
  <s_address>义乌市</s_address>
  <scopyright>葛氏集团</scopyright>
</Config>